{% extends 'base.html.twig' %}
{% block addSstylesheets %}
    <link href="{{asset('bootstrap/css/project.css')}}" rel="stylesheet">
{% endblock %}
{% block title %}ProjectDeRecherche index{% endblock %}

{% block content %}
    <div id="search1" class="containerOfSearch">
		<div class="search-container">
			<i class="search-icon bi bi-search"></i>
			<input id="searchPublication" type="text" class="form-control" placeholder="Search">
		</div>
		<div class="button-container">
    <a href="{{ path('app_project_de_recherche_new') }}">
      <button type="button">
        <i class="bi bi-plus"></i>
			</button>
    </a>
			
		</div>
	</div>
  <div class="pagination-container">
    <div class="projects">
        {% for project_de_recherche in project_de_recherches %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <div class="title-content">
             <h6>{{ project_de_recherche.titre }}</h6>
             <i class="bi bi-chevron-right"></i>
            </div>
               <div class="description-content">

                <div class="container">
                  <p>Etat d'avancement</p> 
                  <div class="progress less" style="--i:12;--clr:#4CAF4F;">
                  <h3>{{ project_de_recherche.etatAvancement }}<span>%</span></h3> 
                  </div>
                </div>
               </div>
            </div>
        </div>
        
        {% else %}
        <h1>no records found</h1>
        {% endfor %}
    </div>
  </div>
        {# <nav aria-label="...">
  <ul class="pagination">
    <li class="page-item disabled">
      <a class="page-link">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav> #}
{# <a href="{{ path('app_project_de_recherche_show', {'id': project_de_recherche.id}) }}">show</a> #}
{# <a href="{{ path('app_project_de_recherche_edit', {'id': project_de_recherche.id}) }}">edit</a> #}
{% endblock %}
