{% extends 'base.html.twig' %}

{% block title %}ProjectDeRecherche
{% endblock %}
{% block addSstylesheets %}
	<link href="{{asset('bootstrap/css/show.css')}}" rel="stylesheet">
	<link href="{{asset('bootstrap/css/publication.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <style>
    /* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
{# * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} #}

.titre-projet{
        display: flex;
        justify-content: center;
        align-items: center;
		gap:60px;
		margin:10px;
		
}


.wrapper {
  position: relative;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

#left, #right {
  position: absolute;
  top: 50%;
  font-size: 24px;
  cursor: pointer;
  transform: translateY(-50%);
  z-index: 1;
}

#left {
  left: 27%;
}

#right {
  right: 27%;
}
/* Existing styles */

.carousel-container {
  overflow: hidden;
  width: calc(100% - 859px); /* Adjust the width to fit your design */
  margin: 0 auto;
  padding:0;
}
.carousel-container .card{
  margin-right:15px;
}
.carousel-container .card:first{
  margin-right:0px;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}
    </style>
{% endblock %}
{% block content %}
	<div class="titre-projet">
		<h4>ProjectDeRecherche: {{ project_de_recherche.titre}}</h4>	
			{# Retrieve session variables in Twig #}
	{% set id = app.session.get('currentUserId') %}

	{# Display the values if they exist #}
	{% if id is defined and project_de_recherche.Chercheur.getId()==id %}
		{# <p>id: {{ id }}</p> #}
		{{ include('project_de_recherche/_delete_form.html.twig') }}
	{% endif %}
	</div>


	<table class="table">
		<thead>
			<tr>
				<th>Attribute</th>
				<th>Value</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ project_de_recherche.id }}</td>
			</tr>
			<tr>
				<th>Titre</th>
				<td>{{ project_de_recherche.titre }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ project_de_recherche.description }}</td>
			</tr>
			<tr>
				<th>EtatAvancement</th>
				<td>{{ project_de_recherche.etatAvancement }}</td>
			</tr>
			</tr>

                        <tr>
                <th>Equipement utilisé</th>
                <td>
                {% for equipment in project_de_recherche.getEquipments() %}
                    <a style='color: #3559E0;' href="{{ path('app_equipment_show', {'id': equipment.id}) }}">{{ equipment.nom }} </a>,
                {% endfor %}
                </td>
            </tr>
		</tbody>
	</table>

	{# <a href="{{ path('app_project_de_recherche_index') }}">back to list</a>

	<a href="{{ path('app_project_de_recherche_edit', {'id': project_de_recherche.id}) }}">edit</a> #}
	<br></br>
	<h4>publications de projet</h4>

    <div class="wrapper">
  <i id="left" class="fa-solid fa-angle-left"></i>
  <div class="carousel-container">
  <ul class="carousel swiper-container">
    {% for publication in project_de_recherche.getPublications()%}
    <li class="card">
      <a href="{{ path('app_publication_show', {'id': publication.id}) }}">
        <div class="title-content">
          <h6>{{ publication.titre }}</h6>
          <i class="bi bi-chevron-right"></i>
        </div>
        <div class="description-content">
          <div class="auteur">
            <p>Auteur: {{ publication.auteurs }}</p>
          </div>
          <div class="titre-projet">
            <p>Projet: {{ publication.projectDeRecherche.getTitre() }}</p>
          </div>
          <div class="mot-cles">
            <p class="p1">
              {% set motsArray = publication.motsCles|split(' ') %}
              {% for mot in motsArray %}
                #{{ mot }}
                {% if not loop.last %}{% endif %}
              {% endfor %}
            </p>
          </div>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
  </div>
  <i id="right" class="fa-solid fa-angle-right" ></i>
</div>

{% endblock %}



{% block addjavascripts %}
<script>
const carousel = document.querySelector('.carousel');
const element = document.querySelector('#right');
const element2 = document.querySelector('#left');
const cardCount = carousel.childElementCount;
const cardWidth = document.querySelector('.card').offsetWidth;
const carouselWidth = document.querySelector('.carousel').offsetWidth;
const visibleCardCount = 3;
let currentIndex = 0;
if (cardCount<4) {
 element.style.display = 'none';
 element2.style.display = 'none';
  
} else {
 element.style.display = 'block';
 element2.style.display = 'block';

}
if(visibleCardCount+currentIndex === cardCount){
  element.style.display = 'none';
}else{
  if(currentIndex===0){
 element2.style.display = 'none';
}
}

console.log(cardCount);
{# console.log(carouselWidth); #}
document.getElementById('right').addEventListener('click', () => {
if(cardCount>visibleCardCount+currentIndex){
  currentIndex += 1;
 const transformValue = `translateX(-${((carouselWidth /3)+15) * currentIndex}px)`;
 carousel.style.transform = transformValue;
 element2.style.display = 'block';
 if(visibleCardCount+currentIndex === cardCount){
  element.style.display = 'none';
}
}
});

document.getElementById('left').addEventListener('click', () => {
 if (currentIndex > 0) {
    currentIndex -= 1;
 }
 const transformValue = `translateX(-${(cardWidth+15)  * currentIndex}px)`;
 carousel.style.transform = transformValue;
 element.style.display = 'block';
 if(currentIndex===0){
 element2.style.display = 'none';
}
});

</script>

{% endblock %}