{% extends 'base.html.twig' %}

{% block title %}ProjectDeRecherche{% endblock %}
{% block addSstylesheets %}
	<link href="{{asset('bootstrap/css/show.css')}}" rel="stylesheet">
{% endblock %}
{% block body %}
    <h1>ProjectDeRecherche</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ project_de_recherche.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ project_de_recherche.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ project_de_recherche.description }}</td>
            </tr>
            <tr>
                <th>EtatAvancement</th>
                <td>{{ project_de_recherche.etatAvancement }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_project_de_recherche_index') }}">back to list</a>

    <a href="{{ path('app_project_de_recherche_edit', {'id': project_de_recherche.id}) }}">edit</a>

    {# {{ include('project_de_recherche/_delete_form.html.twig') }} #}
{% endblock %}
