{% extends 'base.html.twig' %}

{% block title %}ProjectDeRecherche{% endblock %}
{% block addSstylesheets %}
	<link href="{{asset('bootstrap/css/show.css')}}" rel="stylesheet">
    <link href="{{asset('bootstrap/css/publication.css')}}" rel="stylesheet">
{% endblock %}
{% block content %}
    <h4>ProjectDeRecherche</h4>

    <table class="table">
    <thead>
        <tr>
            <th>Attribute</th>
            <th>Value</th>
        </tr>
    </thead>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ project_de_recherche.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ project_de_recherche.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ project_de_recherche.description }}</td>
            </tr>
            <tr>
                <th>EtatAvancement</th>
                <td>{{ project_de_recherche.etatAvancement }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_project_de_recherche_index') }}">back to list</a>

    <a href="{{ path('app_project_de_recherche_edit', {'id': project_de_recherche.id}) }}">edit</a>

<div class="publications">
{% for publication in project_de_recherche.getPublications()%}
    <div class="card">
							<a href="{{ path('app_publication_show', {'id': publication.id}) }}">

							
								<div class="title-content">
									<h6>{{ publication.titre }}</h6>
										<i class="bi bi-chevron-right"></i>
								</div>

								<div class="description-content">

									<div class="auteur">
										<p>Auteur:
											{{ publication.auteurs }}</p>
									</div>

									<div class="titre-projet">
										<p>Projet:
											{{ publication.projectDeRecherche.getTitre() }}</p>
									</div>

									<div class="mot-cles">
										<p class="p1">
											{% set motsArray = publication.motsCles|split(' ') %}
											{% for mot in motsArray %}
												#{{ mot }}{% if not loop.last %} {% endif %}
											{% endfor %}
										</p>
									</div>


								</div>
							</a>

    </div>
{% endfor %}
</div>
    {# {{ include('project_de_recherche/_delete_form.html.twig') }} #}
{% endblock %}
