{% extends 'base.html.twig' %}

{% block title %}Equipment index{% endblock %}

{% block addSstylesheets %}
	<link href="{{asset('bootstrap/css/equipement.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}

	{# Retrieve session variables in Twig #}
	{% set id = app.session.get('currentUserId') %}

	{# Display the values if they exist #}
	{% if id is defined %}
		{# <p>id: {{ id }}</p> #}


<div class="containerOfSearch">
		<div class="search-container">
			<form method="GET" action="{{ path('app_equipment_index') }}">
				<input type="text" name="search" class="form-control" placeholder="Search" value="{{ app.request.query.get('search') }}">
				<button class="btn btn-outline-success" type="submit"><i class="search-icon bi bi-search"></i>Search</button>
			</form>

		</div>

		<!-- Other container elements -->
	</div>

	{% set isAdmin = app.session.get('isAdmin') %}
	{% if isAdmin == false  %}
			<div class="button-container">
				<a href="{{ path('app_equipment_new') }}">
					<button type="button">
						<i class="bi bi-plus"></i>
					</button>
				</a>
			</div>
	{% endif %}
	
            <div class="equipemetns" >

				{% for equipment in equipment %}
					<div class="card">

						{% if id ==  equipment.projectDeRecherche.chercheur.getId()%}
							<a href="{{ path('app_equipment_show', {'id': equipment.id}) }}">

							{% else %}
								<a href="{{ path('app_equipment_show', {'id': equipment.id}) }}">

								{% endif %}

								<div class="title-content">
									<h6>{{ equipment.nom }}</h6>

									
									
								{% if equipment.etat %}
									{% if equipment.projectDeRecherche is not null and equipment.projectDeRecherche.chercheur.getId() == id %}
										<i class="bi bi-pencil-square"></i>
									{% else %}
										<i class="bi bi-chevron-right"></i>
									{% endif %}

								{% else %}
								<i class="bi bi-plus"></i>
								{% endif %}


								</div>

								<div class="Etat-content">
									<p>Etat:
										{% if equipment.etat %}
											<span  style="color: #E53835;">
												Non Disponible</span>
										{% else %}
											<span>
												Disponible</span>
										{% endif %}

									</p>
								</div>
							</a>

						</div>
					{% endfor %}


                {% else %}
                    <h4 colspan="5">no records found</h4>
                {% endif %}

				</div>
		{# 
				    <h1>Equipment index</h1>
				
				    <table class="table">
				        <thead>
				            <tr>
				                <th>Id</th>
				                <th>Nom</th>
				                <th>Etat</th>
				                <th>actions</th>
				            </tr>
				        </thead>
				        <tbody>
				        {% for equipment in equipment %}
				            <tr>
				                <td>{{ equipment.id }}</td>
				                <td>{{ equipment.nom }}</td>
				                <td>{{ equipment.etat ? 'Yes' : 'No' }}</td>
				                <td>
				                    <a href="{{ path('app_equipment_show', {'id': equipment.id}) }}">show</a>
				                    <a href="{{ path('app_equipment_edit', {'id': equipment.id}) }}">edit</a>
				                </td>
				            </tr>
				        {% else %}
				            <tr>
				                <td colspan="4">no records found</td>
				            </tr>
				        {% endfor %}
				        </tbody>
				    </table>
				
				    <a href="{{ path('app_equipment_new') }}">Create new</a> #}
	{% endblock %}

