{% extends 'base.html.twig' %}

{% block addSstylesheets %}
<!-- Bootstrap core CSS -->
{{ encore_entry_link_tags('app') }}
<link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">

<!-- Additional CSS Files -->
<link rel="stylesheet" href="{{asset('bootstrap/css/templatemo-digimedia-v3.css')}}">
<link rel="stylesheet" href="{{asset('bootstrap/css/fontawesome.css.css')}}">
<link rel="stylesheet" href="{{asset('bootstrap/css/owl.css')}}">
<link rel="stylesheet" href="{{asset('bootstrap/css/animated.css')}}">


{% endblock %}


{% block content %}

<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-6 align-self-center">
						<div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s"
							data-wow-delay="1s">
							<div class="row">
								<div class="col-lg-12">
									<h6>Digital Media Agency</h6>
									<h2>We Boost Your Website Traffic</h2>
									<p>This template is brought to you by TemplateMo website. Feel free to use this for
										a commercial purpose. You are not allowed to redistribute the template ZIP file
										on any other template website. Thank you.</p>
								</div>
								<div class="col-lg-12">
									<div class="border-first-button scroll-to-section">
										<a href="#contact">Free Quote</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
							<img src="images/slider-dec-v3.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="about" class="about section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-6">
						<div class="about-left-image  wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
							<img src="images/about-dec-v3.png" alt="">
						</div>
					</div>
					<div class="col-lg-6 align-self-center  wow fadeInRight" data-wow-duration="1s"
						data-wow-delay="0.5s">
						<div class="about-right-content">
							<div class="section-heading">
								<h6>À propos de nous</h6>
								<h4>C'est quoi Scientist <em>Hub</em></h4>
								<div class="line-dec"></div>
							</div>
							<p>Scientist Hub est une plateforme dynamique conçue pour amplifier vos projets de
								recherche. Partagez vos projets innovants, publications et détails sur votre
								équipe de recherche avec un public mondial. Rejoignez ce hub où la collaboration
								scientifique et l'innovation prospèrent. Ce modèle est fourni par Scientist Hub
								pour votre projet. N'hésitez pas à le personnaliser selon vos besoins, et
								n'oubliez pas de mentionner Scientist Hub pour sa contribution à votre
								communauté de recherche. Merci de faire partie de cette aventure d'exploration
								scientifique.</p>
							<div class="row">
								<div class="col-lg-4 col-sm-4">
									<div class="skill-item first-skill-item wow fadeIn" data-wow-duration="1s"
										data-wow-delay="0s">
										<div class="progress" data-percentage="90">
											<span class="progress-left">
												<span class="progress-bar"></span>
											</span>
											<span class="progress-right">
												<span class="progress-bar"></span>
											</span>
											<div class="progress-value">
												<div>
													30%<br>
													<span>TWIG/CSS</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-sm-4">
									<div class="skill-item second-skill-item wow fadeIn" data-wow-duration="1s"
										data-wow-delay="0s">
										<div class="progress" data-percentage="80">
											<span class="progress-left">
												<span class="progress-bar"></span>
											</span>
											<span class="progress-right">
												<span class="progress-bar"></span>
											</span>
											<div class="progress-value">
												<div>
													60%<br>
													<span>PHP</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-sm-4">
									<div class="skill-item third-skill-item wow fadeIn" data-wow-duration="1s"
										data-wow-delay="0s">
										<div class="progress" data-percentage="80">
											<span class="progress-left">
												<span class="progress-bar"></span>
											</span>
											<span class="progress-right">
												<span class="progress-bar"></span>
											</span>
											<div class="progress-value">
												<div>
													10%<br>
													<span>JAVASCRIPT</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




<div id="blog" class="blog">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 offset-lg-4  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.3s">
				<div class="section-heading">
					<h6>Recent News</h6>
					<h4>Check Our Blog <em>Posts</em></h4>
					<div class="line-dec"></div>
				</div>
			</div>
			<div class="col-lg-6 show-up wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
				<div class="blog-post">
					<div class="thumb">
						<a href="#"><img src="images\symfony.png" alt=""></a>
					</div>
					<div class="down-content">
						<a href="#">
							<h4>C'est quoi Symfony ?</h4>
						</a>
						<p>Symfony, framework PHP MVC, simplifie le développement web avec des composants modulaires et
							une approche conventionnelle. Adapté à toutes tailles de projets, Symfony allie stabilité,
							extensibilité, et une communauté active, en faisant un choix populaire pour le développement
							PHP.</p>
						<div class="border-first-button">
							<a href="https://symfony.com/" target="_blank">Visitez le site</a>
						</div>
					</div>

				</div>
			</div>
			<div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
				<div class="blog-posts">
					<div class="row">
						<div class="col-lg-12">
							<div class="post-item">
								<div class="thumb">
									<a href="#"><img src="images\oussama.jpg" alt=""
											style="width: 60%; margin-top : 35px;"></a>
								</div>
								<div class="right-content">

									<a href="#">
										<h4>HSSAN Oussama </h4>
									</a>
									<p>Elève Ingénieur En 2ème Année Génie Informatique</p>
									<div class="row-button">
										<div class="border-first-button">
											<a href="https://www.linkedin.com/in/oussama-hssan-916b67199/?originalSubdomain=tn"
												target="_blank">
												<i class="bi bi-linkedin"></i> LinkedIn
											</a>
										</div>

										<div class="border-first-button">
											<a href="https://github.com/OussamaFeki" target="_blank">
												<i class="bi bi-github"></i> GitHub
											</a>
										</div>
									</div>

								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="post-item">
								<div class="thumb">
									<a href="#"><img src="images\hamdi.jpg" alt=""
											style="width: 60%; margin-top : 35px;"></a>
								</div>
								<div class="right-content">
									<a href="#">
										<h4>MOKNI Hamdi</h4>
									</a>
									<p>Elève Ingénieur En 2ème Année Génie Informatique</p>
									<div class="row-button">
										<div class="border-first-button">
											<a href="https://www.linkedin.com/in/mokni-hamdi-mk712/" target="_blank">
												<i class="bi bi-linkedin"></i> LinkedIn
											</a>
										</div>
										<div class="border-first-button">
											<a href="https://github.com/Mk-1000" target="_blank">
												<i class="bi bi-github"></i> GitHub
											</a>
										</div>

									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="post-item last-post-item">
								<div class="thumb">
									<a href="#"><img src="images\amen.jpg" alt=""
											style="width: 60%; margin-top : 35px;"></a>
								</div>
								<div class="right-content">

									<a href="#">
										<h4>JOUILA Amen Allah </h4>
									</a>
									<p>Elève Ingénieur En 2ème Année Génie Informatique</p>
									<div class="row-button">
										<div class="border-first-button">
											<a href="https://www.linkedin.com/in/oussama-hssan-916b67199/?originalSubdomain=tn"
												target="_blank">
												<i class="bi bi-linkedin"></i> LinkedIn
											</a>
										</div>

										<div class="border-first-button">
											<a href="https://github.com/amenallah0" target="_blank">
												<i class="bi bi-github"></i> GitHub
											</a>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</div>


{% endblock %}
{% block footer %}
<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<p>Copyright © 2022 DigiMedia Co., Ltd. All Rights Reserved.
					<br>Design: <a href="https://templatemo.com" target="_parent"
						title="free css templates">TemplateMo</a></p>
			</div>
		</div>
	</div>
</footer>

{% endblock %}