{% extends 'base.html.twig' %}

{% block title %}Chercheur index{% endblock %}

{% block content %}
{# read and display flash messages using Bootstrap classes #}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

    <h1>Chercheur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>MotDePasse</th>
                <th>Role</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chercheur in chercheurs %}
            <tr>
                <td>{{ chercheur.id }}</td>
                <td>{{ chercheur.nom }}</td>
                <td>{{ chercheur.prenom }}</td>
                <td>{{ chercheur.email }}</td>
                <td>{{ chercheur.motDePasse }}</td>
                <td>{{ chercheur.role }}</td>
                <td>
                    <a href="{{ path('app_chercheur_show', {'id': chercheur.id}) }}"><button class='btn btn-outline-success'> show</button> </a>
                    {# <a href="{{ path('app_chercheur_edit', {'id': chercheur.id}) }}">edit</a> #}
                    <form action="{{ path('app_chercheur_delete', {'id': chercheur.id}) }}" method="post" onsubmit="return confirm('Are you sure you want to delete this?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chercheur.id) }}">
                        <button type="submit" class="btn btn-outline-danger">
                            <i class="bi bi-trash-fill"></i> Supprimer
                        </button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('app_chercheur_new') }}">Create new</a> #}
{% endblock %}
