<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}

			<!-- Bootstrap Icons -->
			<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
			{{ ux_controller_link_tags() }}

			<link href="{{asset('bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
			<link href="{{asset('bootstrap/css/nav.css')}}" rel="stylesheet">

			{% block addSstylesheets %}{% endblock %}

		{% endblock %}

	</head>
	<body>
		{% block body %}
			{% block nav %}
				<nav class="nav-edit navbar navbar-expand-lg bg-body-tertiary">
					<div class="container-fluid">
						<a class="navbar-brand" href="#"><img class="logo" src="{{asset('images/svgviewer-png-output.png')}}"></a>

						<div class="links collapse navbar-collapse" id="navbarNav">
							<ul class="navbar-nav">
								<li class="nav-item{% if app.request.attributes.get('_route') == 'app_publication_index' %} active{% endif %}">
									<a class="nav-link" href="{{ path('app_publication_index') }}">Publication</a>
								</li>
								<li class="nav-item{% if app.request.attributes.get('_route') == 'app_project_de_recherche_index' %} active{% endif %}">
									<a class="nav-link" href="{{ path('app_project_de_recherche_index') }}">Projects</a>
								</li>
								<li class="nav-item{% if app.request.attributes.get('_route') == 'app_equipment_index' %} active{% endif %}">
									<a class="nav-link" href="{{ path('app_equipment_index') }}">Equipment</a>
								</li>
							</ul>
						</div>

						<div>
							{% set idUser = app.session.get('currentUserId') %}
							{% set nom = app.session.get('currentUserNom') %}
							{% set prenom = app.session.get('currentUserPrenom') %}


							{% if nom is defined %}
								<div class="poopover-container">
									<button type="button" class="btn btn-outline-success" id="poopoverButton">
										{{ nom|slice(0, 1) }}{{ prenom|slice(0, 1) }}
									</button>
									<div class="poopover-options">
										<div class="option">
											<a class="nav-link" href="{{ path('app_chercheur_show', {'id': idUser}) }}">
												<i class="bi bi-person"></i><span>profile</span></a>
										</div>
										<div class="option">
											<a class="nav-link" href="{{ path('app_chercheur_edit', {'id': idUser}) }}">
												<i class="bi bi-gear"></i><span>setting</span></a>
										</div>
										<a>
											<div class="option">
												<a class="nav-link" href="{{ path('app_equipment_index') }}">
													<i class="bi bi-box-arrow-left"></i><span>logout</span></a>
											</div>
										</div>
									</div>
								{% else %}
									<a href="{{ path('app_homepage') }}" class="btn btn-outline-success">Sign IN</a>
								{% endif %}
							</div>


						</div>
					</nav>
					<div class="spacer"></div>
				{% endblock %}
				{% block content %}{% endblock %}

			{% endblock %}
		</body>
		{% block javascripts %}
			<script>
				document.addEventListener('DOMContentLoaded', function () {
					var poopoverButton = document.getElementById('poopoverButton');
					var poopoverOptions = document.querySelector('.poopover-options');

					poopoverButton.addEventListener('click', function () {
					poopoverOptions.style.display = poopoverOptions.style.display === 'block' ? 'none' : 'block';
					});

					// Close the options if the user clicks outside the poopover container
					document.addEventListener('click', function (event) {
					if (! poopoverButton.contains(event.target) && ! poopoverOptions.contains(event.target)) {
					poopoverOptions.style.display = 'none';
					}
					});
					});
			</script>
			{% block addjavascripts %}{% endblock %}
		{% endblock %}
	</body>
</html>

